figure.highlight
  margin: 1rem 0;
  font-size: .9rem;
  background-color: #333
  overflow: auto

  table
    margin: 0

  .gutter
    width: 15px

  .gutter, .code
    border: none

    pre
      margin: 0
      padding: 0
      color: #ccc
      font-size: .8rem

.example
  padding-bottom: 10px
  margin: 1rem 0
  border-bottom: 1px solid #ccc

.example-tabs
  border-bottom: 1px solid #ccc
  margin-bottom: 10px

  .example-tab
    border: none
    background-color: #fff
    padding: 10px 14px
    cursor: pointer
    font-size: .8rem
    text-transform: uppercase
    font-weight: 300

    &.active
      background-color: var(--br-color-ash-light);
      color: var(--br-color-charcoal-light);

.example-html, .example-code
  display: none
  &.active
    display: block

.example-html 
  /* Containers */
  .br-container-full, .br-container-fixed
    border: 1px dashed #999

  [class^="br-col-"] 
    border: 1px dashed #999