#header-container
  background-color: #eee
  border-bottom: 1px solid #ccc
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 10
  height: 40px
  display: flex
  align-items: center
    
  .header-link-home
    display: inline-block
    font-size: 1.3rem
    width: 40px
    text-align: center
    color: #666

  .header-title 
    margin: 0 0 0 10px
    flex: 1 1 auto
    display: flex
    align-items: center
    font-size: 1.4rem;

    .header-subtitle 
      font-size: 1.1rem

    .fa-chevron-right
      font-size: 1rem
      margin: 0 10px
