#sidebar-container
  position: fixed
  left: 0
  top: 40px
  bottom: 0
  width: 40px
  padding-top: 10px
  background-color: #fff
  text-align: center

  .sidebar-separator 
    padding: 0 10px
    hr
      border-top-width: 1px
      margin: 10px 0

  .sidebar-link
    color: #aaa
    display: inline-block
    height: 30px
    width: 40px
    font-size: 1rem
    text-decoration: none
    line-height: 30px
    
    &:hover, &:focus
      color: var(--br-color-primary)
