<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/sidebar') %>
  <div id="page-container">
    <%- partial('_partial/header') %>
    <div id="page-content">
      <main id="main">
        <%- body %>
      </main>
    </div>
  </div>
</body>
</html>