/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?7164378#fontello') format('svg');
  }
}
*/

 [class^="br-icon-"]:before, [class*=" br-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.br-icon-search:before { content: '\e800'; } /* '' */
.br-icon-mail:before { content: '\e801'; } /* '' */
.br-icon-heart:before { content: '\e802'; } /* '' */
.br-icon-heart-empty:before { content: '\e803'; } /* '' */
.br-icon-star:before { content: '\e804'; } /* '' */
.br-icon-star-empty:before { content: '\e805'; } /* '' */
.br-icon-star-half-alt:before { content: '\e806'; } /* '' */
.br-icon-user:before { content: '\e807'; } /* '' */
.br-icon-user-plus:before { content: '\e808'; } /* '' */
.br-icon-user-times:before { content: '\e809'; } /* '' */
.br-icon-users:before { content: '\e80a'; } /* '' */
.br-icon-th:before { content: '\e80b'; } /* '' */
.br-icon-th-list:before { content: '\e80c'; } /* '' */
.br-icon-ok:before { content: '\e80d'; } /* '' */
.br-icon-cancel:before { content: '\e80e'; } /* '' */
.br-icon-plus:before { content: '\e80f'; } /* '' */
.br-icon-minus:before { content: '\e810'; } /* '' */
.br-icon-help:before { content: '\e811'; } /* '' */
.br-icon-info:before { content: '\e812'; } /* '' */
.br-icon-home:before { content: '\e813'; } /* '' */
.br-icon-link:before { content: '\e814'; } /* '' */
.br-icon-lock:before { content: '\e815'; } /* '' */
.br-icon-lock-open-alt:before { content: '\e816'; } /* '' */
.br-icon-pin:before { content: '\e817'; } /* '' */
.br-icon-tag:before { content: '\e818'; } /* '' */
.br-icon-thumbs-up:before { content: '\e819'; } /* '' */
.br-icon-thumbs-down:before { content: '\e81a'; } /* '' */
.br-icon-folder-open:before { content: '\e81b'; } /* '' */
.br-icon-attention-alt:before { content: '\e81c'; } /* '' */
.br-icon-trash-empty:before { content: '\e81d'; } /* '' */
.br-icon-trash:before { content: '\e81e'; } /* '' */
.br-icon-thumbs-up-alt:before { content: '\e81f'; } /* '' */
.br-icon-thumbs-down-alt:before { content: '\e820'; } /* '' */
.br-icon-mail-alt:before { content: '\e821'; } /* '' */
.br-icon-menu:before { content: '\e822'; } /* '' */
.br-icon-cog:before { content: '\e823'; } /* '' */
.br-icon-angle-left:before { content: '\e824'; } /* '' */
.br-icon-angle-right:before { content: '\e825'; } /* '' */
.br-icon-angle-up:before { content: '\e826'; } /* '' */
.br-icon-angle-down:before { content: '\e827'; } /* '' */
.br-icon-toggle-off:before { content: '\e828'; } /* '' */
.br-icon-toggle-on:before { content: '\e829'; } /* '' */
.br-icon-ellipsis:before { content: '\e82a'; } /* '' */
.br-icon-ellipsis-vert:before { content: '\e82b'; } /* '' */
.br-icon-circle:before { content: '\e82c'; } /* '' */
.br-icon-circle-thin:before { content: '\e82d'; } /* '' */
.br-icon-facebook-official:before { content: '\e82e'; } /* '' */
.br-icon-github-circled:before { content: '\e82f'; } /* '' */
.br-icon-folder:before { content: '\e830'; } /* '' */
.br-icon-pinterest-circled:before { content: '\e831'; } /* '' */
.br-icon-attention-circled:before { content: '\e832'; } /* '' */
.br-icon-attention:before { content: '\e833'; } /* '' */
.br-icon-help-circled:before { content: '\e834'; } /* '' */
.br-icon-twitter-squared:before { content: '\e835'; } /* '' */
.br-icon-linkedin-squared:before { content: '\e836'; } /* '' */
.br-icon-info-circled:before { content: '\e837'; } /* '' */
.br-icon-pencil:before { content: '\e838'; } /* '' */
.br-icon-clock:before { content: '\e839'; } /* '' */
.br-icon-up-open:before { content: '\e83a'; } /* '' */
.br-icon-left-open:before { content: '\e83b'; } /* '' */
.br-icon-down-open:before { content: '\e83c'; } /* '' */
.br-icon-right-open:before { content: '\e83d'; } /* '' */
.br-icon-youtube-play:before { content: '\e83f'; } /* '' */
.br-icon-blank:before { content: '\f0c8'; } /* '' */
.br-icon-folder-empty:before { content: '\f114'; } /* '' */
.br-icon-folder-open-empty:before { content: '\f115'; } /* '' */
.br-icon-ok-squared:before { content: '\f14a'; } /* '' */
.br-icon-sliders:before { content: '\f1de'; } /* '' */
