/**
 * Font mixins
 */
@mixin font_sans {
  font-family: $br_font_sans, sans-serif;
  font-weight: 400;
}

@mixin font_sans_light {
  font-family: $br_font_sans, sans-serif;
  font-weight: 100;
}

@mixin font_serif {
  font-family: $br_font_serif, serif;
}

@mixin font_mono {
  font-family: $br_font_mono, monospace;
}

// This is generally unnecessary as the "br-icon-*" classes should be used instead
// This mixin can be used to change the font for pseudo elements like ::after
@mixin font_glyph {
  font-family: $br_font_glyph;
}

/**
 * Clearfix
 */
@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
