<header id="header-container">
  <i id="header-logo" class="fas fa-mountain"></i>
  <h1 class="header-title">
    Bedrock 
    <i class="fas fa-chevron-right"></i>
    <span class="br-subheader header-subtitle"><%- page.title %></span>
  </h1>
</header>