<header id="header-container">
  <a href="/" class="header-link-home"><i class="fas fa-mountain"></i></a>
  <h1 class="header-title">
    Bedrock 
    <i class="fas fa-chevron-right"></i>
    <span class="br-subheader header-subtitle"><%- page.title %></span>
  </h1>
</header>