<aside id="sidebar-container">
    <a href="/" class="sidebar-link"><i class="fas fa-home"></i></a>
    <a href="/customize" class="sidebar-link"><i class="fas fa-cog"></i></a>
  
  <div class="sidebar-separator"><hr /></div>

  <a href="/containers" class="sidebar-link"><i class="fas fa-square"></i></a>
  <a href="/grid" class="sidebar-link"><i class="fas fa-th-large"></i></a>
  <a href="/typography" class="sidebar-link"><i class="fas fa-font"></i></a>
  <a href="/messages" class="sidebar-link"><i class="fas fa-comment-dots"></i></a>
  <a href="/forms" class="sidebar-link"><i class="fas fa-check-square"></i></a>
</aside>