<aside id="sidebar-container">
  <a href="/customize" class="sidebar-link"><i class="fas fa-cog"></i></a>
  
  <div class="sidebar-separator"><hr /></div>

  <a href="/containers" class="sidebar-link"><i class="fas fa-square"></i></a>
  <a href="/grid" class="sidebar-link"><i class="fas fa-th-large"></i></a>
  <a href="/typography" class="sidebar-link"><i class="fas fa-font"></i></a>
</aside>