// ==========================================
// Bedrock Container
// ==========================================

.br-container,
.br-container-full {
  margin: 0 auto;
  width: 100%;
  padding: $br_container_pad_top $br_container_pad_right $br_container_pad_bottom $br_container_pad_left;
  box-sizing: border-box;
}
.br-container {
  max-width: $br_width_fixed;
}
