blockquote {
  @include font_serif;
  font-size: 1.1rem;
  line-height: 2rem;
  position: relative;
  margin: 1.5rem 0;
  padding: 5px 10px 5px 40px;
  color: $br_color_ash_dark;

  &::before {
    @include font_glyph;
    content: '\f10d';
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 1.5rem;
  }

  &.br-theme-primary {
    color: $br_color_primary;
  }

  &.br-theme-secondary {
    color: $br_color_secondary;
  }
}
