.br-button {
  @include font_sans;
  border-radius: 3px;
  display: inline-block;
  padding: .7rem 1.3rem;
  box-sizing: border-box;
  background-color: $br_color_ash_light;
  border: none;
  color: $br_color_charcoal_light;
  font-size: .8rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .5px;
  vertical-align: middle;
  cursor: pointer;
  outline: none;

  &:hover, &:focus {
    background-color: $br_color_charcoal_light;
    color: $br_color_ash_light;
  }

  &.br-color-primary {
    background-color: $br_color_primary_light;
    color: $br_color_primary_dark;
    &:hover, &:focus {
      background-color: $br_color_primary_dark;
      color: $br_color_primary_light;
    }
  }

  &.br-color-secondary {
    background-color: $br_color_secondary_light;
    color: $br_color_secondary_dark;
    &:hover, &:focus {
      background-color: $br_color_secondary_dark;
      color: $br_color_secondary_light;
    }
  }
}
