code {
  @include font_mono;
  font-size: .9rem;
  line-height: 1rem;
  display: inline-block;
  vertical-align: baseline;
  padding: 2px 4px;
  background-color: transparent;
  border-radius: 1px;
  color: inherit;
}
