$br_bgcolor_code: transparent !default;
$br_color_code: $br_color_charcoal_light !default;

code {
  @include font_mono;
  font-size: .9rem;
  line-height: 1rem;
  display: inline-block;
  vertical-align: baseline;
  padding: 2px 4px;
  background-color: $br_bgcolor_code;
  border-radius: 1px;
  color: $br_color_code;
}
