.br-row {
  display: block;
  font-size: 0;
  align-items: stretch;

  [class^="br-col"] {
    display: block;
    font-size: 1rem;
    width: 100%;
    margin-left: 0;
    box-sizing: border-box;
  }
}

.br-row.br-padded {
  margin: 0 0 1rem;
}


@media only screen and (min-width: $br_width_mobile) {

  .br-row {
    display: flex;
    [class^="br-col"] {
      display: inline-block;
    }
    @for $i from 1 through $br_grid_columns {
      .br-col-#{$i} {
        width: 0 0 percentage(($i * $br_grid_single_column_width_nogutter) / 100); 
      }
    }
  }

  .br-row.br-padded {
    margin-bottom: 1rem;

    [class^="br-col"] {
      margin-left: percentage($br_grid_gutter/100);
    }
    [class^="br-col"]:first-child {
      margin-left: 0;
    }
    @for $i from 1 through $br_grid_columns {
      .br-col-#{$i} {
        width: percentage((($i * $br_grid_single_column_width) + (($i - 1) * $br_grid_gutter)) / 100);
      }
    }
  }
}
