input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: .9rem;
  color: $br_color_charcoal_light;
  border: none;
  border-bottom: 2px solid $br_color_ash_light;
  display: block;
  padding: .5rem 0px;
  width: 100%;
  margin: 0 0 1rem;
  box-sizing: border-box;
  height: 2.5rem;

  &::placeholder {
    color: $br_color_ash_dark;
    font-size: .8rem;
  }

  &:focus {
    outline: none;
    color: $br_color_charcoal;
    border-bottom-color: $br_color_ash;
  }

  &.br-theme-primary {
    &:focus {
      border-bottom-color: $br_color_primary;
    }
  }

  &.br-theme-secondary {
    &:focus {
      border-bottom-color: $br_color_secondary;
    }
  }

  &.br-theme-error {
    color: $br_color_warn;
    border-bottom: 2px solid $br_color_warn;
    &:focus {
      color: $br_color_warn_dark;
    }
  }

  &:disabled {
    background-color: transparent;
    border-color: $br_color_ash;
    color: $br_color_ash;
    cursor: not-allowed;
  }
}

input[type="checkbox"] {
  margin: 0 5px;
}


input[type="radio"] {
  margin: 0 5px;
}