input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: .9rem;
  color: $br_color_ash_dark;
  border: none;
  border-bottom: 1px solid $br_color_ash_light;
  display: block;
  padding: 5px 0px;
  width: 100%;
  margin: 5px 0 1rem;
  box-sizing: border-box;

  &::placeholder {
    color: $br_color_ash_dark;
    font-size: .8rem;
  }

  &:focus {
    outline: none;
    color: $br_color_charcoal;
    border-bottom-color: $br_color_charcoal;
  }

  &.br-theme-primary {
    &:focus {
      border-bottom-color: $br_color_primary;
    }
  }

  &.br-theme-secondary {
    &:focus {
      border-bottom-color: $br_color_secondary;
    }
  }

  &.br-theme-error {
    color: $br_color_warn;
    border-bottom: 1px solid $br_color_warn;
    &:focus {
      color: $br_color_warn_dark;
    }
  }

  &:disabled {
    background-color: transparent;
    border-color: $br_color_ash;
    color: $br_color_ash;
    cursor: not-allowed;
  }
}

input[type="checkbox"] {
  @include appearance_none;
  margin: 0 5px;
  height: .8rem;
  width: .8rem;
  line-height: 1rem;
  vertical-align: middle;
  border: 1px solid $br_color_ash_dark;

  &:checked {
    background-color: $br_color_ash_dark;
  }

  &.br-theme-primary {
    border-color: $br_color_primary;
    &:checked { background-color: $br_color_primary; }
  }

  &.br-theme-secondary {
    border-color: $br_color_secondary;
    &:checked { background-color: $br_color_secondary; }
  }

  &:disabled {
    background-color: transparent;
    border-color: $br_color_ash;
    color: $br_color_ash;
    cursor: not-allowed;
  }
}


input[type="radio"] {
  @include appearance_none;
  margin: 0 5px;
  height: .8rem;
  width: .8rem;
  line-height: 1rem;
  vertical-align: middle;
  border-radius: .4rem;
  border: 1px solid $br_color_ash_dark;

  &:checked {
    background-color: $br_color_ash_dark;
  }

  &.br-theme-primary {
    border-color: $br_color_primary;
    &:checked { background-color: $br_color_primary; }
  }

  &.br-theme-secondary {
    border-color: $br_color_secondary;
    &:checked { background-color: $br_color_secondary; }
  }

  &:disabled {
    background-color: transparent;
    border-color: $br_color_ash;
    color: $br_color_ash;
    cursor: not-allowed;
  }
}