input[type="text"],
input[type="password"] {
  font-size: 1rem;
  color: $br_color_ash_dark;
  border: none;
  border-bottom: 2px solid $br_color_ash_light;
  display: block;
  height: 2rem;
  padding: 0px;
  width: 100%;
  margin: 0 0 1rem;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border-bottom: 2px solid $br_color_primary;
    color: $br_color_charcoal_light;
  }
}
input[type="checkbox"] {
  margin: 0 7px;
}
input[type="radio"] {
  margin: 0 7px;
}
