.br-message {
  color: $br_color_charcoal;
  font-weight: 400;
  padding: 15px 20px;
  margin: 1rem 0;
  line-height: 1.7rem;
  position: relative;
  border-left: 6px solid $br_color_ash_light;

  &.br-theme-ash {
    color: $br_color_charcoal_light;
    background-color: $br_color_ash_light;
    border-left-color: $br_color_ash;
  }
  &.br-theme-charcoal {
    color: $br_color_ash_light;
    background-color: $br_color_charcoal;
    border-left-color: $br_color_charcoal_dark;
  }
  &.br-theme-primary {
    color: $br_color_primary_dark;
    background-color: $br_color_primary_light;
    border-left-color: $br_color_primary;
  }
  &.br-theme-secondary {
    color: $br_color_secondary_dark;
    background-color: $br_color_secondary_light;
    border-left-color: $br_color_secondary;
  }
  &.br-theme-info {
    color: $br_color_info_dark;
    background-color: $br_color_info_light;
    border-left-color: $br_color_info;
  }
  &.br-theme-error {
    color: $br_color_warn_dark;
    background-color: $br_color_warn_light;
    border-left-color: $br_color_warn;
  }
}