$br_bgcolor_pre: transparent !default;
$br_color_pre: $br_color_charcoal_light !default;

pre {
  @include font_mono;
  font-size: .9rem;
  line-height: 1.6rem;
  margin: 1.5rem 0;
  display: block;
  padding: 20px;
  overflow: auto;
  background-color: $br_bgcolor_pre;
  color: $br_color_pre;
}
