// ====================================================================================
// SASS Vars
// All the vars defined here are defined as defaults
// These variables can be overridden on a per-app basis
// ====================================================================================


/**
 * Dimensions
 */
$br_width_fixed: 960px !default;
$br_width_mobile: 768px !default;


/**
 * Fonts
 */
$br_font_base: 14px !default;
$br_font_sans: "Roboto" !default;
$br_font_serif: "Roboto Slab" !default;
$br_font_mono: "Roboto Mono" !default;


/**
 * Containers
 */
$br_container_pad_top: 10px !default;
$br_container_pad_right: 10px !default;
$br_container_pad_bottom: 10px !default;
$br_container_pad_left: 10px !default;


/**
 * Grid
 */
$br_grid_columns: 12 !default;
$br_grid_gutter: 2 !default; // this refers to a percentage value i.e. 2 = 2% gutter width
$br_grid_single_column_width: (100 - ($br_grid_columns - 1) * $br_grid_gutter) / $br_grid_columns;
$br_grid_single_column_width_nogutter: 100 / $br_grid_columns;


/**
 * Colors
 */
// Ash
$br_color_ash: #cccccc !default;
$br_color_ash_dark: #999999 !default;
$br_color_ash_light: #efefef !default;
// Charcoal
$br_color_charcoal: #444444 !default;
$br_color_charcoal_dark: #222222 !default;
$br_color_charcoal_light: #666666 !default;
// Primary
$br_color_primary: #3795FF !default;
$br_color_primary_light: lighten($br_color_primary, 15%) !default;
$br_color_primary_dark: darken($br_color_primary, 15%) !default;
// Secondary
$br_color_secondary: #A9DD50 !default;
$br_color_secondary_light: lighten($br_color_secondary, 15%) !default;
$br_color_secondary_dark: darken($br_color_secondary, 15%) !default;
