// ====================================================================================
// CSS Vars
// ====================================================================================
:root {
  // Dimensions
  --br-font-basesize: 14px;
  // Colors
  --br-color-ash: #cccccc;
  --br-color-ash-light: #eeeeee;
  --br-color-ash-dark: #999999;
  --br-color-charcoal: #666;
  --br-color-charcoal-light: #888;
  --br-color-charcoal-dark: #444;
  --br-color-primary: #3795FF;
  --br-color-primary-dark: #{darken(#3795FF, 25%)};
  --br-color-primary-light: #{lighten(#3795FF, 25%)};
  --br-color-secondary: #A9DD50;
  --br-color-secondary-dark: #{darken(#A9DD50, 25%)};
  --br-color-secondary-light: #{lighten(#A9DD50, 25%)};
  --br-color-warn: #e67474;
  --br-color-warn-light: #{lighten(#e67474, 25%)};
  --br-color-warn-dark: #{darken(#e67474, 25%)};
}

// ====================================================================================
// SASS Vars
// ====================================================================================

// Dimensions
$br_width_fixed: 960px;
$br_width_mobile: 768px;

// Fonts
$br_font_basesize: var(--bro-font-basesize, var(--br-font-basesize));
$br_font_sans: "Roboto";
$br_font_serif: "Roboto Slab";
$br_font_mono: "Roboto Mono";
$br_font_glyph: "Font Awesome 5 Pro";

// Containers
$br_container_pad_top: 10px;
$br_container_pad_right: 10px;
$br_container_pad_bottom: 10px;
$br_container_pad_left: 10px;

// Grid
$br_grid_columns: 12;
$br_grid_gutter: 2; // this refers to a percentage value i.e. 2 = 2% gutter width
$br_grid_single_column_width: (100 - ($br_grid_columns - 1) * $br_grid_gutter) / $br_grid_columns;
$br_grid_single_column_width_nogutter: 100 / $br_grid_columns;

// Colors
// Ash
$br_color_ash: var(--bro-color-ash, var(--br-color-ash));
$br_color_ash_dark: var(--bro-color-ash-dark, var(--br-color-ash-dark));
$br_color_ash_light: var(--bro-color-ash-light, var(--br-color-ash-light));
// Charcoal
$br_color_charcoal: var(--bro-color-charcoal, var(--br-color-charcoal));
$br_color_charcoal_dark: var(--bro-color-charcoal-dark, var(--br-color-charcoal-dark));
$br_color_charcoal_light: var(--bro-color-charcoal-light, var(--br-color-charcoal-light));
// Primary
$br_color_primary: var(--bro-color-primary, var(--br-color-primary));
$br_color_primary_light: var(--bro-color-primary-light, var(--br-color-primary-light));
$br_color_primary_dark: var(--bro-color-primary-dark, var(--br-color-primary-dark));
// Secondary
$br_color_secondary: var(--bro-color-secondary, var(--br-color-secondary));
$br_color_secondary_light: var(--bro-color-secondary-light, var(--br-color-secondary-light));
$br_color_secondary_dark: var(--bro-color-secondary-dark, var(--br-color-secondary-dark));
// Warn
$br_color_warn: var(--bro-color-warn, var(--br-color-warn));
$br_color_warn_light: var(--bro-color-warn-light, var(--br-color-warn-light));
$br_color_warn_dark: var(--bro-color-warn-dark, var(--br-color-warn-dark));

